NODE_ENV=development
PORT=4000

DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=yourpassword
DB_NAME=myshop

# JWT (JSON Web Token)
JWT_SECRET=your_super_secret_key_here
JWT_EXPIRES_IN=7d

# Cloudinary (Dùng để lưu hình ảnh Product)
CLOUDINARY_CLOUD_NAME=your_cloud_name_here
CLOUDINARY_API_KEY=your_api_key_here
CLOUDINARY_API_SECRET=your_api_secret_here

# pgAdmin (optional)
PGADMIN_EMAIL=admin@myshop.dev
PGADMIN_PASSWORD=admin

# JWT
JWT_SECRET=your_super_secret_key_here
JWT_EXPIRES_IN=24h

# Elasticsearch
ELASTICSEARCH_NODE=http://elasticsearch:9200
ELASTICSEARCH_PRODUCT_INDEX=products

# Redis
REDIS_HOST=redis
REDIS_PORT=6379
# REDIS_PASSWORD= # Optional redis password